### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.war
*.tar.gz
*.rar

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Windows ###
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
*.prefs
others/testrestclient/mybankeventclient/.classpath
others/testrestclient/mybankeventclient/.project
services/customer/.classpath
services/customer/.project
services/transactions/.classpath
services/transactions/.project
.vscode/settings.json
database/jdatabase.jar
eventclient/jevent.jar
eventclient/.classpath
eventclient/.project
*.prefs
services/account/.project
services/account/.classpath
