<!DOCTYPE HTML>

<head>
	<title>MyBank Customer</title>
	<script src="./scripts/angular.1.7.8.js"></script>
	<script src="./scripts/_mybankAPIgateway.js"></script>
</head>


<h1 align=center>MYBANK CUSTOMER</h1>

<body ng-app="_mybankAPIgateway" ng-controller="_mybankAPIgatewayController">
	<form id="frm" name="frm">

		<div align=center>

			<hr>
			ID: &nbsp;<input id="customerid" type="text" name="customerid"
				ng-model="form.customer._ID"/>&nbsp;
			Name: &nbsp;<input id="customername" type="text" name="customername"
				ng-model="form.customer.name" />&nbsp;
			Address: &nbsp;<input id="customeraddress" type="text" name="customeraddress"
				ng-model="form.customer.address" />&nbsp;
			Phone: &nbsp;<input id="customerphone" type="text" name="customerphone"
				ng-model="form.customer.phone" />&nbsp;
			
			<hr>
			<br>
			<button name="btnselect" ng-click="data.customer.selectquery();">Read</button>
			&nbsp;&nbsp;
			<button name="btnupdate" ng-click="data.customer.updatequery();">Update</button>
			&nbsp;&nbsp;
			<button name="btndelete" ng-click="data.customer.deletequery();">Delete</button>
			&nbsp;&nbsp;
			<button name="btninsert" ng-click="data.customer.insertquery();">Create</button>

		</div>

		<br>
		<hr>

		<div align=center>
			<br><b>CUSTOMER LIST</b>
			<br>

			<table align="center">

				<tr>
					<td align="center">ID</td>
					<td align="center">NAME</td>
					<td align="center">ADDRESS</td>
					<td align="center">PHONE</td>
					<td align="center">TYPE</td>
				</tr>
				<tr>
					<td colspan=100%>
						<hr>
					</td>
				</tr>
				<tr style="color:blue;" ng-repeat="customer in data.queryresponse">
					<td align="center">{{customer._ID}}</td>
					<td align="center">{{customer.customername}}</td>
					<td align="center">{{customer.customeraddress}}</td>
					<td align="center">{{customer.customerphone}}</td>
					<td align="center">{{customer.customertype}}</td>
				</tr>

			</table>
		</div>

		<div align=center>
			<br>
			<hr>
			<a href="mybank.html">Back to Main Menu</a>
		</div>

		<div id="debug" ng-show="1==0" style="background-color:grey;color:white;">
			<br>DEBUG
			<br>query: {{data.query}}
			<br>querytype: {{data.querytype}}
			<br>fired query status: {{msg}}

		</div>
	</form>
</body>