<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>MyBank Customer</title>
	<script src="./js/angular.min.js"></script>
	<script src="./js/_mybankAPIgateway.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
	<link rel="stylesheet" href="css/mdb.min.css" />
</head>

<body ng-app="_mybankAPIgateway" ng-controller="_mybankAPIgatewayController">
	<div class="container-sm">
		<nav class="navbar navbar-expand-sm navbar-light shadow-0">
			<a class="navbar-brand text-danger">MyBank</a>
			<div class="collapse navbar-collapse" id="navbarCollapseID">
				<div class="navbar-nav">
					<a class="nav-link text-primary active" href="#">Customer</a>
					<a class="nav-link text-secondary" href="http://localhost:8082/accounts.html">Accounts</a>
					<a class="nav-link text-warning" href="http://localhost:8083/transactions.html">Transactions</a>
				</div>
			</div>
		</nav>
		<div class="display-5 text-center mt-2 text-primary">Customer</div>
		<hr class="mt-4 mb-4" />
		<form id="frm" name="frm">
			<div class="text-center">
				<div class="row">
					<div class="col">
						<div class="form-outline">
							<input class="form-control" id="customerid" type="text" name="customerid"
								ng-model="form.customer._id" />
							<label class="form-label" for="customerid">Customer ID</label>
						</div>
					</div>
					<div class="col">
						<div class="form-outline">
							<input class="form-control" id="customername" type="text" name="customername"
								ng-model="form.customer.name" />
							<label class="form-label" for="customername">Name</label>
						</div>
					</div>
					<div class="col">
						<div class="form-outline">
							<input class="form-control" id="customeraddress" type="text" name="customeraddress"
								ng-model="form.customer.address" />
							<label class="form-label" for="customeraddress">Address</label>
						</div>
					</div>
					<div class="col">
						<div class="form-outline">
							<input class="form-control" id="customerphone" type="text" name="customerphone"
								ng-model="form.customer.phone" />
							<label class="form-label" for="customerphone">Phone #</label>
						</div>
					</div>
				</div>
				<br>
				<div class="btn-group" role="submit" aria-label="Submit Buttons">
					<button class="btn btn-lg btn-primary" name="btnselect"
						ng-click="data.customer.selectquery();">Read</button>
					<button class="btn btn-lg btn-primary" name="btnupdate"
						ng-click="data.customer.updatequery();">Update</button>
					<button class="btn btn-lg btn-primary" name="btndelete"
						ng-click="data.customer.deletequery();">Delete</button>
					<button class="btn btn-lg btn-primary" name="btninsert"
						ng-click="data.customer.insertquery();">Create</button>
				</div>
			</div>
		</form>
		<br>
		<div class="card text-center shadow-2-strong" ng-if="data.queryresponse.length > 0">
			<div class="card-header text-right bg-primary text-white">
				List of Customers
			</div>
			<div class="card-body">
				<table class="table table-sm">
					<tr>
						<th scope="col" class="text-center">Customer ID</td>
						<th scope="col" class="text-center">Name</td>
						<th scope="col" class="text-center">Address</td>
						<th scope="col" class="text-center">Phone #</td>
					</tr>
					<tr ng-repeat="customer in data.queryresponse">
						<th scope="col" class="text-center">{{customer._id}}</td>
						<td class="text-center">{{customer.customername}}</td>
						<td class="text-center">{{customer.customeraddress}}</td>
						<td class="text-center">{{customer.customerphone}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/mdb.min.js"></script>

</html>