<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MyBank MoneyTransfer</title>
    <script src="./js/angular.1.7.8.js"></script>
    <script src="./js/_mybankAPIgateway.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <link rel="stylesheet" href="css/mdb.min.css" />
</head>

<body ng-app="_mybankAPIgateway" ng-controller="_mybankAPIgatewayController">
    <div class="container-sm">
        <nav class="navbar navbar-expand-sm navbar-light shadow-0">
            <a class="navbar-brand text-danger">MyBank</a>
            <div class="collapse navbar-collapse" id="navbarCollapseID">
                <div class="navbar-nav">
                    <a class="nav-link text-primary" href="http://localhost:8081/customer.html">Customer</a>
                    <a class="nav-link text-secondary" href="http://localhost:8082/accounts.html">Accounts</a>
                    <a class="nav-link text-warning active" href="#">Money Transfer</a>
                </div>
            </div>
        </nav>
        <div class="display-5 text-center mt-2 text-warning">Money Transfer</div>
        <hr class="mt-4 mb-4" />
        <form id="frm" name="frm">
            <div class="text-center">
                <div class="row">
                    <div class="col">
                        <div class="form-outline">
                            <input class="form-control" id="fromaccount" type="text" name="fromaccount"
                                ng-model="form.moneytransfer.fromaccount" />
                            <label class="form-label" for="fromaccount">Sender ID</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input class="form-control" id="toaccount" type="text" name="toaccount"
                                ng-model="form.moneytransfer.toaccount" />
                            <label class="form-label" for="toaccount">Receiver ID</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input class="form-control" id="amount" type="text" name="amount"
                                ng-model="form.moneytransfer.amount" />
                            <label class="form-label" for="amount">Amount</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="btn-group" role="submit" aria-label="Submit Buttons">
                    <button class="btn btn-lg btn-warning" name="btnselect" type="button"
                        ng-click="data.moneytransfer.selectquery();">Read</button>
                    <button class="btn btn-lg btn-warning" name="btninsert" type="button"
                        ng-click="data.moneytransfer.insertquery();data.moneytransfer.selectquery();">Create</button>
                </div>
            </div>
        </form>
        <br>
        <div class="card text-center shadow-2-strong" ng-if="data.queryresponse.length > 0">
            <div class="card-header text-right bg-warning text-white">
                List of Transactions
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <th scope="col" class="text-center">Txn #</th>
                        <th scope="col" class="text-center">Txn Date</th>
                        <th scope="col" class="text-center">Sender</th>
                        <th scope="col" class="text-center">Receiver</th>
                        <th scope="col" class="text-center">Amount</th>
                    </tr>
                    <tr ng-repeat="moneytransfer in data.queryresponse">
                        <th class="text-center" scope="col">{{moneytransfer._ID}}</td>
                        <td class="text-center">{{moneytransfer.createdate}}</td>
                        <td class="text-center">{{moneytransfer.fromaccount}}</td>
                        <td class="text-center">{{moneytransfer.toaccount}}</td>
                        <td class="text-center">{{moneytransfer.amount}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/mdb.min.js"></script>

</html>