<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MyBank MoneyTransfer</title>
    <script src="./scripts/angular.1.7.8.js"></script>
    <script src="./scripts/_mybankAPIgateway.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body ng-app="_mybankAPIgateway" ng-controller="_mybankAPIgatewayController">
    <div class="container-sm">
        <nav class="navbar navbar-expand-sm navbar-light">
            <a class="navbar-brand text-danger" href="./mybank.html">MyBank</a>
            <div class="collapse navbar-collapse" id="navbarCollapseID">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Customer</a>
                    <a class="nav-item nav-link" href="#">Accounts</a>
                    <a class="nav-item nav-link text-warning active" href="#">Money Transfer</a>
                </div>
            </div>
        </nav>
        <div class="display-4 text-center mt-5 text-warning">Money Transfer</div>
		<hr class="mt-4 mb-4"/>
        <form id="frm" name="frm" class="form-group">
            <div class="text-center">
                <div class="form-row">
                    <div class="col">
                        <input class="form-control form-control-sm" id="fromaccount" type="text" name="fromaccount"
                            ng-model="form.moneytransfer.fromaccount" placeholder="Sender ID" />
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" id="toaccount" type="text" name="toaccount"
                            ng-model="form.moneytransfer.toaccount" placeholder="Receiver ID" />
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" id="amount" type="text" name="amount"
                            ng-model="form.moneytransfer.amount" placeholder="Amount" />
                    </div>
                </div>
                <br>
                <div class="btn-group" role="submit" aria-label="Submit Buttons">
                    <button name="btnselect" type="button" class="btn btn-dark"
                        ng-click="data.moneytransfer.selectquery();">Read</button>
                    <button name="btninsert" type="button" class="btn btn-dark"
                        ng-click="data.moneytransfer.insertquery();">Create</button>
                </div>
            </div>
        </form>
        <br>
        <div class="text-center">
            <table class="table table-fixed" ng-show="showmoneytable==1">
                <caption>List of Transactions</caption>
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center">Txn #</th>
                        <th scope="col" class="text-center">Txn Date</th>
                        <th scope="col" class="text-center">Sender</th>
                        <th scope="col" class="text-center">Receiver</th>
                        <th scope="col" class="text-center">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="moneytransfer in data.queryresponse">
                        <th class="text-center" scope="col">{{moneytransfer._ID}}</td>
                        <td class="text-center">{{moneytransfer.createdate}}</td>
                        <td class="text-center">{{moneytransfer.fromaccount}}</td>
                        <td class="text-center">{{moneytransfer.toaccount}}</td>
                        <td class="text-center">{{moneytransfer.amount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>