<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>transactions - myBank</title>
    <script src="./js/angular.min.js"></script>
    <script src="./js/_mybankAPIgateway.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <link rel="stylesheet" href="css/mdb.min.css" />
</head>

<body ng-app="_mybankAPIgateway" ng-controller="_mybankAPIgatewayController">
    <div class="container-sm">
        <nav class="navbar navbar-expand-sm navbar-light shadow-0">
            <a class="navbar-brand text-danger font-monospace">myBank</a>
            <div class="collapse navbar-collapse" id="navbarCollapseID">
                <div class="navbar-nav">
                    <a class="nav-link text-primary font-monospace"
                        href="http://localhost:8081/customer.html">/customer</a>
                    <a class="nav-link text-secondary font-monospace"
                        href="http://localhost:8082/accounts.html">/accounts</a>
                    <a class="nav-link font-monospace active" href="#">/transactions</a>
                </div>
            </div>
        </nav>
        <div class="display-5 text-right mt-2 text-warning font-monospace">/transactions</div>
        <hr class="mt-4 mb-4" />
        <form id="frm" name="frm">
            <div class="text-center">
                <div class="row">
                    <div class="col">
                        <div class="form-outline">
                            <input class="form-control" id="idsender" type="text" name="idsender"
                                ng-model="form.transactions.idsender" />
                            <label class="form-label" for="idsender">Sender ID</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input class="form-control" id="idreceiver" type="text" name="idreceiver"
                                ng-model="form.transactions.idreceiver" />
                            <label class="form-label" for="idreceiver">Receiver ID</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input class="form-control" id="transferamount" type="text" name="transferamount"
                                ng-model="form.transactions.transferamount" />
                            <label class="form-label" for="transferamount">Amount</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="btn-group" role="submit" aria-label="Submit Buttons">
                    <button class="btn btn-lg btn-warning" name="btnselect" type="button"
                        ng-click="data.transactions.selectquery();">Read</button>
                    <button class="btn btn-lg btn-warning" name="btninsert" type="button"
                        ng-click="data.transactions.insertquery();">Create</button>
                </div>
            </div>
        </form>
        <br>
        <div class="card text-center shadow-2-strong" ng-if="data.queryresponse.length > 0">
            <div class="card-header text-right bg-warning text-white">
                List of Transactions
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <th scope="col" class="text-center">Txn #</th>
                        <th scope="col" class="text-center">Txn Date</th>
                        <th scope="col" class="text-center">Sender</th>
                        <th scope="col" class="text-center">Receiver</th>
                        <th scope="col" class="text-center">Amount</th>
                    </tr>
                    <tr ng-repeat="transactions in data.queryresponse">
                        <th class="text-center" scope="col">{{transactions._id}}</td>
                        <td class="text-center">{{transactions.createdate}}</td>
                        <td class="text-center">{{transactions.idsender}}</td>
                        <td class="text-center">{{transactions.idreceiver}}</td>
                        <td class="text-center">{{transactions.transferamount}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/mdb.min.js"></script>

</html>